@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);



.header {
    background: url(../photo.jpg);
    background-size: cover;
    width: 100%;
    height: 500px;
}


.head1 {
text-align : center;
}


.box{
    float:left;
    width:33.333%;
    box-sizing:border-box;
    text-align: center;
    }


footer
{
    padding: 10px 0;

    text-align: center;

  
}

.btn {
    width:200px;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#fff;
    background-color:#49a9d4;
    border-radius:5px;
     margin-left: auto;
     margin-right: auto;
  
}

@media (max-width: 768px) {
 .box {float:none;
     margin-left: auto;
  margin-right: auto;
 }
.header {
     height: 250px;
}
}